@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans', sans-serif;
  color: $text-primary;
  background: $bg-subtle;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
